* {
  padding: 0;
  margin: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tituloWeb {
  color: black;
  text-align-last: center;
}

.tituloTabla {
  color: brown;
  font-size: 25px;
  text-align: center;
}

.parrafo {
  color: darkslateblue;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
}

th {
  background-color: mediumaquamarine;
}

tr td {
  color: peru;
}

.tituloFormulario {
  color: red;
  text-align: center;
}

.tituloIntegrantes {
  color: tomato;
  text-align: center;
}

.tituloVideo {
  color: green;
  text-align: left;
}

.tituloAudio {
  color: indigo;
  text-align: left;
}

.contactoRecuadro {
  color: darkcyan;
}

.tituloYoutube {
  color: darkorange;
  text-align: left;
}

table {
  margin: auto;
  background-color: #373f2f;
  font-family: sans-serif;
  font-weight: bold;
  border: 3px solid #000;
}

.divisor {
  background-color: #4cc995;
  width: 100%;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*    flex-direction: row; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hijo {
  height: 150px;
  width: 150px;
  border: 5px blue;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  color: seagreen;
}

/*nav{
    background-color: rgb(58, 132, 181);
    height: 30px;
    width: 100%;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
}
nav a:hover{
    color: rgb(12, 63, 230);
}*/
ul li {
  display: inline-block;
  margin-left: 9%;
}

#h1 {
  background-image: url(media/logolp.png);
  background-position: center;
  background-size: contain;
}

#h2 {
  background-position: center;
}

#h3 {
  background-image: url(media/logolp2.png);
  background-position: center;
  background-size: contain;
}

.title {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.integrantes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.integrantes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.imgIntegrantes1 {
  width: 80%;
  height: 70%;
  border: 5px solid crimson;
  border-radius: 5px;
}

.imgIntegrantes1:hover {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.imgIntegrantes2 {
  width: 80%;
  height: 70%;
  border: 5px solid crimson;
  border-radius: 5px;
}

.imgIntegrantes2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.imgIntegrantes3 {
  width: 80%;
  height: 70%;
  border: 5px solid crimson;
  border-radius: 5px;
}

.imgIntegrantes3:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 2s;
  transition: 2s;
}

.imgIntegrantes4 {
  width: 80%;
  height: 70%;
  border: 5px solid #e61146;
  border-radius: 5px;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes efecto {
  0% {
    width: 50px;
  }
  100% {
    width: 180px;
  }
}

@keyframes efecto {
  0% {
    width: 50px;
  }
  100% {
    width: 180px;
  }
}

.imgIntegrantes5 {
  width: 80%;
  height: 70%;
  border: 5px solid crimson;
  border-radius: 5px;
}

.imgIntegrantes5:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 3s;
  transition: 3s;
}

.imgIntegrantes6 {
  width: 80%;
  height: 70%;
  border: 5px solid crimson;
  border-radius: 5px;
}

.imgIntegrantes6:hover {
  -webkit-transform: skewY(180deg);
          transform: skewY(180deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.gridUno {
  height: 700px;
  width: auto;
  display: -ms-grid;
  display: grid;
  border: brown solid 3px;
  font-size: 30px;
  text-align: center;
  color: #fff;
      grid-template-areas: "lpuno1 lpuno2 lpuno3"
 "lpuno4 lpuno5 lpuno6"
 "lpuno7 lpuno8 lpuno9";
  /*    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 10fr 2fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 4%;*/
}

.lpuno1 {
  grid-area: "lpuno1";
  background-color: aqua;
  background-image: url(media/purplelp.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno2 {
  grid-area: "lpuno2";
  background-color: blue;
  background-image: url(media/lp2.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno3 {
  grid-area: "lpuno3";
  background-color: coral;
  background-image: url(media/lp3.jpg);
  background-size: cover;
  background-position: center;
}

.lpuno4 {
  grid-area: "lpuno4";
  background-color: chartreuse;
  background-image: url(media/lp4.jpg);
  background-size: cover;
  background-position: center;
}

.lpuno5 {
  grid-area: "lpuno5";
  background-color: chartreuse;
  background-image: url(media/lp5.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno6 {
  grid-area: "lpuno6";
  background-color: chartreuse;
  background-image: url(media/lp6.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno7 {
  grid-area: "lpuno7";
  background-color: chartreuse;
  background-image: url(media/lp7.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno8 {
  grid-area: "lpuno8";
  background-color: chartreuse;
  background-image: url(media/lp8.jpg);
  background-position: center;
  background-size: cover;
}

.lpuno9 {
  grid-area: "lpuno9";
  background-color: chartreuse;
  background-image: url(media/lp9.jpg);
  background-position: center;
  background-size: cover;
}

/*.pick{
    background-color: chartreuse;
    border: fuchsia dashed 2px;
}*/
/*@media only screen and (max-width: 320px) {
    *{
        background-color: lawngreen ;
    }
}
@media only screen and (min-width: 321px) {
    *{
        background-color: blue ;
        color: lightslategray;
    }
}
@media only screen and (min-width: 600px) {
    *{
        background-color: firebrick ;
        color: blue;
    }
}
@media only screen and (min-width: 768px) {
    *{
        background-color: yellow ;
        color: forestgreen;
    }
}*/
body {
  height: 100vh;
  background-color: cadetblue;
  background-image: -webkit-gradient(linear, left top, left bottom, from(orange), to(black));
  background-image: linear-gradient(orange, black);
}

.tituloWeb {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: darkcyan;
  text-shadow: red 5px 5px 5px;
}

.tituloBio {
  color: #2fc9a2;
}

.Discografia {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: darkcyan;
  text-shadow: red 5px 5px 5px;
}

/*.bioL{
    width: 400px;
    height: 400px;
    background-size: contain;
    background-position:center;
}
#bio1{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    border: brown 5px solid;
    position: fixed;
    top: 35%;
    left: 71%;
    background-position: center;
    background-size: contain;
    background-image: url(media/lpfondo.jpg);
}*/
.texto1 {
  background-color: brown;
  color: wheat;
}

.texto2 {
  background-color: #2aa580;
  color: black;
}

.texto3 {
  background-color: #452aa5;
  color: wheat;
}

.texto4 {
  background-color: #aac922;
  color: #1f1503;
}

.texto5 {
  background-color: #a52a86;
  color: wheat;
}

.texto6 {
  background-color: #370b70;
  color: wheat;
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

@media (max-width: 320px) {
  * {
    background-color: #f00;
  }
}

@media (max-width: 320px) {
  .tituloWeb {
    color: darkorange;
  }
  .tituloTabla {
    color: darkorchid;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  table {
    color: aqua;
  }
  .temasUno {
    color: aqua;
  }
  .tituloDisco {
    color: chartreuse;
  }
  .lead {
    color: cyan;
  }
}

.card__color {
  background-color: #1b0303;
}

.card__titulo {
  color: #fff;
  text-align: center;
}

.boton__texto {
  position: relative;
  right: -85px;
}
/*# sourceMappingURL=estilos.css.map */